.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff5500; /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 50%; /* Circular shape */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, border-radius 0.1s ease-in-out, width 0.1s ease-in-out, padding 0.3s ease-in-out;
  z-index: 1000; /* Ensure it's above other content */
}

.back-to-top-button.hovered {
  border-radius: 25px; /* Rectangular shape on hover */
  width: 120px;
  padding: 0 10px;
}

.back-to-top-button.hovered .arrow-up-icon {
  display: none;
}

.back-to-top-button svg.arrow-up-icon {
  width: 24px;
  height: 24px;
}

/* Show the button when isVisible is true (you'll manage this in the component) */
.back-to-top-button {
  opacity: 1;
  visibility: visible;
}