.team-portfolio {
    padding: 20px;
    text-align: center;
  }
  
  .members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive grid */
    gap: 30px;
    margin-top: 70px;

  }
  
  .member-card {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
  }
  
  .member-photo {
    width: 90px;
    height: 90px;
    border-radius: 49%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .member-role {  
    margin-bottom: 10px;
  }
  
  .member-details {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .member-details li {
    margin-bottom: 5px;
  }