@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
.left-align {
  text-align: left;
}
#nprogress .bar {
  background: rgb(255, 25, 0) !important;
  height: 5px;
}

#nprogress .peg {
  box-shadow: 0 0 20px red, 0 0 5px red;
}
#nprogress .bar {
  background: red;
  position: fixed;
  z-index: 40;
  top: 3.5rem;
  left: 0;
  width: 100%;
  height: 5px;
}
#nprogress .spinner {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px; /* Adjust as needed */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Example CSS */
iframe {
  width: 100%;
  height: 80vh; /* Adjust as needed */
  border: none;
}
