@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
.left-align {
  text-align: left;
}
#nprogress .bar {
  background: rgb(255, 25, 0) !important;
  height: 5px;
}

#nprogress .peg {
  box-shadow: 0 0 20px red, 0 0 5px red;
}
#nprogress .bar {
  background: red;
  position: fixed;
  z-index: 40; /* Lower than your navbar */
  top: 3.5rem; /* Adjust this to be BELOW your navbar */
  left: 0;
  width: 100%;
  height: 5px;
}
#nprogress .spinner {
  display: none;
}
